@{
    ViewData["Title"] = "Login In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container space-lg">

    <h2>Errors</h2>
    <hr />
    <p>@Html.ActionLink("Register", "Register")</p>

    @*@if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }*@
</div>
